html {
	background-color: #282e3e;
}

.logo {
	position: relative;
	top: 5px;
	padding-left: 20px;
}

.phone {
	margin-left: 20px;

	& img {
		display: inline;
		position: relative;
		top: 3px;
		margin-right: 10px;
	}
}

.main-descr,
.email {

	& img {
		display: inline;
		position: relative;
		top: 3px;
		margin-right: 10px;
	}
}

.phone,
.email,
.phone-block p a {
	font-size: 16px;
	line-height: 1.56;
	letter-spacing: 1px;
	position: relative;
}

.phone-block .columns,
.mail-block .columns {
	padding-left: 50px !important;
}

.logo-bock.row {
	margin-left: 20px;

}

.mail-block a {
	margin-left: -35px;

	// @media only screen and (max-width: 540px) {
	// 	margin-left: 0;
	// }
}

.logo-block.row {

	// @media only screen and (max-width: 540px) {
	// 	margin-left: 20px;
	// 	width: 80%;
	// }
}

.phone-block p a {
	margin-right: 20px;
}

.phone-block p:first-child {
	margin-left: -36px;

	// @media only screen and (max-width: 540px) {
	// 	margin-left: 0;

	// 	img {
	// 		display: none;
	// 	}
	// }
}

a.sendmail {
	color: #e95e5e !important;
	// float: right;
	// text-align: right;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 1px;
	display: block;
	margin-left: 0;


	// @media only screen and (max-width: 580px) {
	// 	float: left;
	// }
}


.main-title {
	font-size: 30px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: 2px;
	margin-bottom: 35px;
}

.main-descr {
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.88;
	letter-spacing: 1px;
	margin-bottom: 19px;
	padding-top: 0;
}

.download-btn {
	width: 280px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	display: block;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 3.69px;
	border: solid 1px #e95e5e;
}

table.header-btn {
	background-color: $black;
	margin: 0 0 7px 0;
	margin: 0 0 7px 0;
}

table.button.header-btn:hover table td {
	background-color: $black;
}

table.button.large.header-btn table a {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	letter-spacing: 2.6px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	border-radius: 10px;
	white-space: nowrap;
}

table.body-btn {
	// background-color: #f2f2f2;
	margin: 0 0 7px 0;
	margin: 0 0 7px 0;
	color: #009ee1;
}

table.button.body-btn:hover table td {
	// background-color: #f2f2f2;
}

table.button.large.body-btn table a {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	letter-spacing: 2.6px;
	text-align: center;
	color: #009ee1;
	text-transform: uppercase;
	border-radius: 10px;
	white-space: nowrap;
}

table.button.body-btn:hover table tr td a,
table.button.body-btn:active table tr td a,
table.button.body-btn table tr td a:visited,
table.button.body-btn.tiny:hover table tr td a,
table.button.body-btn.tiny:active table tr td a,
table.button.body-btn.tiny table tr td a:visited,
table.button.body-btn.small:hover table tr td a,
table.button.body-btn.small:active table tr td a,
table.button.body-btn.small table tr td a:visited,
table.button.body-btn.large:hover table tr td a,
table.button.body-btn.large:active table tr td a,
table.button.body-btn.large table tr td a:visited {
	color: #009ee1;
}

.header-link a {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #ffffff;
	text-align: center;
}

table.menu th.menu-item {
	padding: 0;
}

.body-title {
	font-size: 30px;
	font-weight: bold;
	line-height: 60px;
	letter-spacing: 1.1px;
	color: #2e2f3d;
	margin-bottom: 20px;
	margin-bottom: 20px;
}

.body-text {
	color: #6f7588 !important;
}

.body-title-2 {
	font-size: 35px;
	line-height: 40px;
	letter-spacing: 1.8px;
	color: #2e2f3d;
}

.card-title {
	font-size: 18px;
	letter-spacing: 0.5px;
	text-align: center;
	color: #212121;
}

.card-price {
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 0.7px;
	text-align: center;
	color: #2e2f3d;
}


.card-btn {
	margin: 0 auto;
	Margin: 0 auto;
}

table.callout {
	margin-left: 20px;
	margin-right: 20px;
}

th.callout-inner {
	border: 0;
	border-radius: 10px;
	box-shadow: 10px 10px 20px 0 rgba(0, 158, 225, 0.27);
}

.footer-text {
	font-size: 14px;
	line-height: 25px;
	letter-spacing: 0.6px;
	text-align: center;
	color: #999999;
}

table.body  img.body-img-top {
	@media only screen and (max-width: 340px) {
		width: 308px;
	}
}
table.body  img.body-img-bottom {
	@media only screen and (max-width: 340px) {
		width: 308px;
	}
}
